__pycache__/
cache/

# Virtual environment
.venv/
env/

# IDEs & editors
.vscode/
.idea/

media/
proxy.txt/

# Environment variables & config
secret/.env
.env.local

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

