# Python
*.pyc
*.pyo
*.pyd
__pycache__/
cache/

# Virtual environment
.venv/
env/

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo

media/

# Environment variables & config
.env
.env.local

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

